@import "tailwindcss";

@media print {
  header, footer, #document-uploader-section, .no-print {
    display: none !important;
  }
  body {
    background: #ffffff !important;
    color: #000000 !important;
  }
}
